/*COLORS*/

$main-dark: #161823;
$secondary-dark: #0E0F1A;
$accent-red: #FF2366;
$accent-purple: #FD51D9;
$accent-blue: #0B78E3;
$gradient-yellow: linear-gradient(#FD3F2F, #FACE15);
$gradient-purple: linear-gradient(#8D4DE8, #FF2366);
$gradient-blue: linear-gradient(#6956EC, #56B2BA);


/*FONTS*/

$font-lato: 'Lato', sans-serif;
$font-heebo: 'Heebo', sans-serif;

